<input type="password" id="newPassword">
<button onclick="changePassword()">Change</button>
<script>
    const changePassword = () => {
        const url = new URL(location.href);
        const token = url.searchParams.get('token');
        fetch(`/auth/forgot-password-change`, {
            headers: {
                'Content-type': 'application/json'
            },
            method: 'POST',
            body: JSON.stringify({token: token, password: document.querySelector('#newPassword').value})
        })
                .then(res => res.json())
                .then(data => {
                    alert('success');
                }).catch(err => alert('Error'));
    }
</script>
